<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bobolaboratory.springboot.mapper.BackstageUserMapper">
    <select id="queryBackstageUserByUsername" parameterType="string" resultType="cn.bobolaboratory.springboot.entity.BackstageUser">
        select *
        from bobo.backstageuser
        where username = #{username};
    </select>
</mapper>