<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bobolaboratory.springboot.mapper.ChoiceQuestionMapper">
    <insert id="addChoiceQuestion" parameterType="cn.bobolaboratory.springboot.entity.ChoiceQuestion">
        insert into bobo.choicequestion (questionId, question, choice1, choice2, choice3, choice4, answer)
            VALUE (#{questionId}, #{question}, #{choice1}, #{choice2}, #{choice3}, #{choice4}, #{answer})
    </insert>

    <select id="queryAllChoiceQuestion" resultType="cn.bobolaboratory.springboot.entity.ChoiceQuestion">
        select *
        from bobo.choicequestion;
    </select>
</mapper>