<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bobolaboratory.springboot.mapper.JudgeQuestionMapper">
    <insert id="addJudgeQuestion" parameterType="cn.bobolaboratory.springboot.entity.JudgeQuestion">
        insert into bobo.judgequestion (questionId, question, answer)
            value (#{questionId}, #{question}, #{answer});
    </insert>

    <select id="queryAllJudgeQuestion" resultType="cn.bobolaboratory.springboot.entity.JudgeQuestion">
        select *
        from bobo.judgequestion;
    </select>

    <update id="updateJudgeQuestionById" parameterType="cn.bobolaboratory.springboot.entity.JudgeQuestion">
        update bobo.judgequestion
        set question = #{question},
            answer   = #{answer}
        where id = #{id};
    </update>

    <delete id="deleteQuestionById" parameterType="long">
        delete
        from bobo.judgequestion
        where id = #{id};
    </delete>
</mapper>