<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bobolaboratory.springboot.mapper.NormalUserMapper">
    <select id="queryNormalUserByOpenid" resultType="cn.bobolaboratory.springboot.entity.NormalUser">
        select *
        from bobo.normaluser
        where openid = #{openid};
    </select>

    <select id="queryAllNormalUser" resultType="cn.bobolaboratory.springboot.entity.NormalUser">
        select id, `name`, sex, `group`, schoolId
        from bobo.normaluser;
    </select>

    <select id="queryGroupList" resultType="cn.bobolaboratory.springboot.vo.GroupListVo">
        select distinct `group` as `name`
        from bobo.normaluser;
    </select>
    
    <select id="queryNormalUserByGroup" resultType="cn.bobolaboratory.springboot.vo.NormalUserListVo">
        select id, `name`, `group`, schoolId, sex
        from bobo.normaluser
        where `group` = #{group}
    </select>

    <select id="queryNormalUserByName" resultType="cn.bobolaboratory.springboot.vo.NormalUserListVo">
        select id, `name`, `group`, schoolId, sex
        from bobo.normaluser
        where `name` = #{name}
    </select>

    <update id="updateNormalUserById" parameterType="cn.bobolaboratory.springboot.entity.NormalUser">
        update bobo.normaluser
        set name     = #{name},
            sex      = #{sex},
            `group`  = #{group},
            schoolId = #{schoolId}
        where id = #{id};
    </update>

    <delete id="deleteNormalUserById" parameterType="long">
        delete
        from bobo.normaluser
        where id = #{id};
    </delete>

    <insert id="addNormalUser" parameterType="string">
        insert into bobo.normaluser (openId) value (#{openId});
    </insert>

    <update id="registerNormalUser" parameterType="cn.bobolaboratory.springboot.dto.NormalUserRegisterRequest">
        update bobo.normaluser
        set `name`   = #{name},
            sex      = #{sex},
            `group`  = #{group},
            schoolId = #{schoolId}
        where id = #{id};
    </update>
</mapper>