<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bobolaboratory.springboot.mapper.NormalUserMapper">
    <select id="queryNormalUserByOpenid" resultType="cn.bobolaboratory.springboot.entity.NormalUser">
        select *
        from bobo.normaluser
        where openid = #{openid};
    </select>

    <select id="queryAllNormalUser" resultType="cn.bobolaboratory.springboot.entity.NormalUser">
        select name, sex, `group`, schoolId
        from bobo.normaluser;
    </select>

    <update id="updateNormalUserById" parameterType="cn.bobolaboratory.springboot.entity.NormalUser">
        update bobo.normaluser
        set name     = #{name},
            sex      = #{sex},
            `group`  = #{group},
            schoolId = #{schoolId}
        where id = #{id};
    </update>

    <delete id="deleteNormalUserById" parameterType="long">
        delete
        from bobo.normaluser
        where id = #{id};
    </delete>

    <insert id="registerNormalUser" parameterType="cn.bobolaboratory.springboot.entity.NormalUser">
        insert into bobo.normaluser (openId) value (#{openId});
    </insert>

    <update id="addNormalUser" parameterType="cn.bobolaboratory.springboot.entity.NormalUser">
        update bobo.normaluser
        set `name`     = #{name},
            sex      = #{sex},
            `group`  = #{group},
            schoolId = #{schoolId}
        where openId = #{openId};
    </update>

    <update id="updateNormalUserByOpenId" parameterType="cn.bobolaboratory.springboot.entity.NormalUser">
        update bobo.normaluser set `name` = #{name}, `group` = #{group}, schoolId =  #{schoolId}, sex = #{sex} where openId = #{openId};
    </update>
</mapper>