<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bobolaboratory.springboot.mapper.QuestionWarehouseMapper">
    <insert id="addQuestionWarehouse" parameterType="cn.bobolaboratory.springboot.entity.QuestionWarehouse">
        insert into bobo.questionwarehouse (name, choice, blank, judge, startDate, endDate, examTime, times, answer, open)
            VALUE (#{name}, #{choice}, #{blank}, #{judge}, #{startDate}, #{endDate}, #{examTime}, #{times}, #{answer}, 0);
    </insert>

    <select id="queryAllQuestionWarehouse" resultType="cn.bobolaboratory.springboot.entity.QuestionWarehouse">
        select *
        from bobo.questionwarehouse;
    </select>

    <select id="queryQuestionWarehouseIdByName" parameterType="string">
        select id
        from bobo.questionwarehouse
        where name = #{name};
    </select>

    <update id="openQuestionWarehouseById" parameterType="long">
        update bobo.questionwarehouse set open = 1 where id = #{id};
    </update>
</mapper>