<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bobolaboratory.springboot.mapper.RecordMapper">
    <!--  新增答题记录  -->
    <insert id="insertRecord" parameterType="cn.bobolaboratory.springboot.entity.Record">
        insert into bobo.record (questionSetId, questionId, userId, type, submitDate, submitTimes, answer, result, score)
            VALUE (#{questionSetId}, #{questionId}, #{userId}, #{type}, #{submitDate}, #{submitTimes}, #{answer}, #{result}, #{score});
    </insert>

    <!--  用户查询题集的答题记录  -->
    <select id="selectRecordByQuestionSetIdAndUserId" resultType="cn.bobolaboratory.springboot.entity.Record">
        select id, type, submitDate, submitTimes, answer, result, score
        from bobo.record
        where questionSetId = #{questionSetId}
          and userId = #{userId}
        order by submitTimes DESC, id;
    </select>
</mapper>