<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bobolaboratory.springboot.mapper.ResultMapper">
    <!--  获取用户已答题次数和最高成绩  -->
    <select id="countSubmitTimesByUserIdAndQuestionSetId" parameterType="Long" resultType="cn.bobolaboratory.springboot.entity.Result">
        select submitTimes , maxScore
        from bobo.result
        where userId = #{userId} and questionSetId = #{questionSetId};
    </select>

    <!--  添加记录  -->
    <insert id="insertResult">
        insert into bobo.result (questionSetId, userId, maxScore, totalScore, submitDate, submitTimes)
            VALUE (#{questionSetId}, #{userId}, #{maxScore}, #{totalScore}, #{submitDate}, #{submitTimes});
    </insert>

    <!--  根据用户id获取所有相关答题记录  -->
    <select id="selectResultByUserId" parameterType="Long" resultType="cn.bobolaboratory.springboot.entity.Result">
        select questionSetId, maxScore, totalScore, submitDate, submitTimes
        from bobo.result
        where userId = #{userId};
    </select>

    <!--  更新记录  -->
    <update id="updateResult">
        update bobo.result
        set maxScore    = #{maxScore},
            submitDate  = #{submitDate},
            submitTimes = #{submitTimes}
        where questionSetId = #{questionSetId}
          and userId = #{userId};
    </update>
</mapper>